.headerRegister {
  background: linear-gradient(180deg, #0E0E33 0%, #39307B 100%);
  width: 100%;
  height: 225px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  color: white;
  padding: 24px 24px 32px 24px;

  .headerRegister-logo {
    img {
    }
  }

  .headerRegister-title {
    margin-top: 2em;
    h1 {
      font-size: 2.5em;
      font-weight: bold;
    }
    p {
      font-size: 1em;
      margin-top: 0.875em;
    }
  }

  .container-bars-progress {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
    margin-top: 2em;

    .div-bar {
      background-color: #f2f3f8;
      height: 0.5em;
      border-radius: 72px;

      .div-progress {
        background-color: #7a2ff4;
        height: 0.5em;
        border-radius: 72px;
        width: 0%;
      }

      .--progressActual {
        background-color: #7a2ff4;
        height: 0.5em;
        border-radius: 72px;
        width: 50%;
      }

      .--div-progressCompleted {
        width: 100%;
      }
    }
  }
}
