.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    .container-log{

    }

    .container-language-notifications{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 3.5em;
    }
}