.container-Membership {
  .header {
    background: linear-gradient(180deg, #0e0e33 0%, #39307b 100%);
    width: 100%;
    height: 225px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: white;
    padding: 24px 24px 32px 24px;
    .header-logo {
      margin-bottom: 2em;
      img {
      }
    }
    .header-title {
      h1 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 16px;
      }
      p {
        font-size: 0.875em;
        line-height: 1.5em;
        width: 90%;
      }
      span {
        color: #3d93da;
      }
    }
  }

  .container-members{
    border-radius: 20px;
    border: 2px solid var(--Light-Gray, #F2F3F8);
    background: var(--White, #FFF);
    padding: 1.5em;
    margin: 3em 1.5em;
    .container-plan{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5em 0;
      border-bottom: 2px solid #F2F3F8;
      .container-left{
        .plan-title{
          font-size: 1.25em;
          font-weight: bold;
          color: var(--Black, #1E0E39);
        }
        .container-btn{
          width: 6em;
          margin: 1em 0;

          .--btnMember {
            padding: .5em 0;
          }
        }

        .text-etiqueta{
          border-radius: 0px 10px;
          background: var(--Light-Purple-Gradient, linear-gradient(180deg, #AD98FF 0%, #612DFE 100%));
          color: white;
          font-size: .625em;
          font-weight: bold;
          padding: .8em;
          text-align: center;
        }
      }
      .container-right{
        .plan-price{
          color: var(--Gray, var(--Light-Secondary, #A9AEB4));
          font-size: 1em;
          font-weight: bold;
          margin-bottom: .5em;

        }
        .container-check{
          background: var(--Accent-Purple, #7A2FF4);
          width: 2em;
          height: 2em;
          border-radius: 50%;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .container-plan:last-child{
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}
